In [1]:
# Note: we import pandas with the alias `pd`, as is common practice in many examples.
# pandas stands for "data analysis and manipulation library for Python"
import pandas as pd

In [2]:
# help(pd) # <- Uncomment to print help description
# Also helpful: https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [3]:
# the `read_csv` function from pandas allows us to take in CSV (comma-separated value)
# data, and put it in a DataFrame.
# This data is similar to what you might see in a spreadsheet.

# In our example, gapminder_gdp_oceania.csv is listed in the data/ folder.
data = pd.read_csv('data/gapminder_gdp_oceania.csv')
data # the variable data now holds a DataFrame with data from data/gapminder_gdp_oceania.csv

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [4]:
# Let's reload the Gapminder dataset, but
# let's use the 'country' column as an index, so we can
# index data by country directly.
data = pd.read_csv('data/gapminder_gdp_oceania.csv',
                   index_col='country')
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In DataFrames, we try to organize data as follows:
* Each variable forms a column.
* Each observation forms a row.
* Each type of observational unit forms a separate table.

This approach is known as "tidy data," which you can read more about at: https://vita.had.co.nz/papers/tidy-data.pdf

In [5]:
# Use method <dataframe_name>.info() to get info about the headers.
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [6]:
# If we just want the column names, we can evaluate the
# <dataframe_name>.columns attribute
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

### Side note
When do we use parentheses? That is, why does `data.info()` use `()` and `data.columns` doesn't?
* `data.info()` is a method/function (operations or activities that can be performed)
* `data.columns` is an attribute (a feature of `data`)

#### Why do we use parentheses with nothing inside them for `data.info()`?
`()` indicates that we want to *call* a function. Think back to mathematical notation for functions:
```
f(x,y) = ax + by
```
The `()` indicates that `f` is a function, and that it takes `x` and `y` as input values.

If `f(x)` would indicate a function `f` with 1 input value. If we generalize this to functions with 0 input values, this looks like `f()` (nothing inside the parentheses).

#### Under the hood comparison of attributes and methods
* `data.columns` is a *pre-computed* value, sitting in our computer memory.
* `data.info()` needs to be *computed* each time we call it: the output is not a value that is sitting around in our computer already.

In [7]:
print # function, without being called

In [8]:
print() # call function with no arguments

In [9]:
print('hello') # call with parameters

hello

### Okay, back to our dataset

In [10]:
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [10]:
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [11]:
# We can transpose the data to swap the rows and columns.
# This is useful if we want to think of each year as our "observations"
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [12]:
# .describe() is a useful method for getting summary statistics
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [13]:
# We can describe the tranpose, too
data.T.describe()

country     Australia   New Zealand
count       12.000000     12.000000
mean     19980.595634  17262.622813
std       7815.405220   4409.009167
min      10039.595640  10556.575660
25%      13948.900203  14141.858698
50%      18905.603395  16933.064050
75%      24318.059265  19517.996910
max      34435.367440  25185.009110

In [14]:
# Let's load the Americas dataset, which contains more countries than the Oceania set.
data_americas = pd.read_csv('data/gapminder_gdp_americas.csv',
                      index_col='country')
data_americas

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850
Colombia,Americas,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,5755.259962,7006.580419
Costa Rica,Americas,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,7723.447195,9645.061420
Cuba,Americas,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,6340.646683,8948.102923
Dominican Republic,Americas,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,4563.808154,6025.374752
Ecuador,Americas,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,5773.044512,6873.262326
El Salvador,Americas,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,5351.568666,5728.353514
Guatemala,Americas,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,4858.347495,5186.050003
Haiti,Americas,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
Honduras,Americas,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,3099.728660,3548.330846
Jamaica,Americas,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,6994.774861,7320.880262
Mexico,Americas,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
Nicaragua,Americas,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
Panama,Americas,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
Paraguay,Americas,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
Peru,Americas,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
Puerto Rico,Americas,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
Trinidad and Tobago,Americas,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
United States,Americas,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
Uruguay,Americas,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
Venezuela,Americas,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

In [15]:
# Use .head() to print the first 5 rows
data_americas.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850

In [16]:
# Use .tail() to print the last 5 rows
data_americas.tail()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Puerto Rico,Americas,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.70901
Trinidad and Tobago,Americas,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.50924
United States,Americas,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.65309
Uruguay,Americas,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.46299
Venezuela,Americas,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.80569

In [17]:
# Grab a specific row using .loc[<row name>]
data_americas.loc['Argentina']

continent         Americas
gdpPercap_1952     5911.32
gdpPercap_1957     6856.86
gdpPercap_1962     7133.17
gdpPercap_1967     8052.95
gdpPercap_1972     9443.04
gdpPercap_1977       10079
gdpPercap_1982      8997.9
gdpPercap_1987     9139.67
gdpPercap_1992     9308.42
gdpPercap_1997     10967.3
gdpPercap_2002     8797.64
gdpPercap_2007     12779.4
Name: Argentina, dtype: object

In [18]:
# Grab a specific column using .loc[:,<column name>]
data_americas.loc[:,'gdpPercap_1952']

country
Argentina               5911.315053
Bolivia                 2677.326347
Brazil                  2108.944355
Canada                 11367.161120
Chile                   3939.978789
Colombia                2144.115096
Costa Rica              2627.009471
Cuba                    5586.538780
Dominican Republic      1397.717137
Ecuador                 3522.110717
El Salvador             3048.302900
Guatemala               2428.237769
Haiti                   1840.366939
Honduras                2194.926204
Jamaica                 2898.530881
Mexico                  3478.125529
Nicaragua               3112.363948
Panama                  2480.380334
Paraguay                1952.308701
Peru                    3758.523437
Puerto Rico             3081.959785
Trinidad and Tobago     3023.271928
United States          13990.482080
Uruguay                 5716.766744
Venezuela               7689.799761
Name: gdpPercap_1952, dtype: float64

In [19]:
# If we can sub-select strings (as demonstrated yesterday)
atom_name = 'helium'
print(atom_name[1:5])

eliu

In [20]:
# We can also sub-select datasets:
data_americas.loc['Mexico':'United States','gdpPercap_1957':'gdpPercap_1967']

                     gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Mexico                  4131.546641     4581.609385     5754.733883
Nicaragua               3457.415947     3634.364406     4643.393534
Panama                  2961.800905     3536.540301     4421.009084
Paraguay                2046.154706     2148.027146     2299.376311
Peru                    4245.256698     4957.037982     5788.093330
Puerto Rico             3907.156189     5108.344630     6929.277714
Trinidad and Tobago     4100.393400     4997.523971     5621.368472
United States          14847.127120    16173.145860    19530.365570

In [21]:
# You can also use iloc for "index location"
subset_of_americas_data = data_americas.iloc[0:5,1:5]
subset_of_americas_data

           gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Argentina     5911.315053     6856.856212     7133.166023     8052.953021
Bolivia       2677.326347     2127.686326     2180.972546     2586.886053
Brazil        2108.944355     2487.365989     3336.585802     3429.864357
Canada       11367.161120    12489.950060    13462.485550    16076.588030
Chile         3939.978789     4315.622723     4519.094331     5106.654313

In [22]:
# You can filter out values using inequality/equality comparisons
mask = subset_of_americas_data > 10000
mask

           gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Argentina           False           False           False           False
Bolivia             False           False           False           False
Brazil              False           False           False           False
Canada               True            True            True            True
Chile               False           False           False           False

In [23]:
# We can use `mask` to index into `subset_of_americas_data`
subset_of_americas_data[mask]
# The `False` fields now turn to NaN ("Not a Number"), which indicates missing data.

           gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Argentina             NaN             NaN             NaN             NaN
Bolivia               NaN             NaN             NaN             NaN
Brazil                NaN             NaN             NaN             NaN
Canada        11367.16112     12489.95006     13462.48555     16076.58803
Chile                 NaN             NaN             NaN             NaN

In [1]:
gdp_australia = data.loc['Australia'] 
gdp_nz = data.loc['New Zealand']

NameError: name 'data' is not defined